<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Design Page for donation Descritions</h1>
    This is to help african children blah blah blah
    <h1>Title : <b> {{ donation.Title}}  </b> </h1>
    <h1>Goal: {{ donation.goalAmount }}</h1>
    <div style="text-align: center;"> 
    <h1> <b> Descritions </b></h1>
    <hr>
     <p>
        {{ donation.Description }}
     </p>
    </div>
        <a href="//localhost:3001/payingUser/{{donation.ID}}"> Donate</a>
</body>
</html>