<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
    <link rel="stylesheet" href="homepage.css">
</head>

<body>
    <header>
        <h1><strong>#DONATE TO SAFE LIFE</strong></h1>
    </header>

    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="//localhost:3001/signup">sign up</a></li>
            <li><a href="//localhost:3001/login">login</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
     <div class="main">
        <!--This div was created to allow the user to donate the amount of money they suggest to donate -->
        <div class="donate">
            <P><i>Please click the button to donate</i></P>
            <div class="form-group"><button class="btn" type="DONATE"></>DONATE </button></div>
        </div>

     </div>

  <div class="footer">
    <footer>
        <p>&copy;#Help Donate 2023 version. All rights reserved.</p>
    </footer>
</body>

</html>

  </div>
