<!DOCTYPE html>
<html>
<head>
  <title>Item Selection Page</title>
  <link rel="stylesheet" href="option.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="C:\Users\BryantIdan\OneDrive\Desktop\FOOD PICTURES\482c8327e4088903dfccf2489ea3e8cf.jpg" alt="">
                <h1>DONATE TO SAVE LIFE </h1>
              </div>
          <a href="#" class="logo">DONATE TO SAVE LIFE </a>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
  <h1>CHOOSE THE DONATION OPTIONS </h1>
  <div class="item-container">
    <label>
      <input type="checkbox" name="item1"> Orphanage home donation 
    </label>
    <label>
      <input type="checkbox" name="item2"> Individual donation
    </label>
    <label>
      <input type="checkbox" name="item3"> Organization donation 
    </label>
    <!-- Add more items as needed -->
  </div>
  <input class="submit"  type="submit" placeholder="Submit">
</body>
</html>
